<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BIENVENIDO A TU BLOG </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ng-container *ngIf="miblog.length > 0; else noContactsFound">
      <ion-slide *ngFor="let miblog of miblog">
        <ion-card-header>
          <ion-card-title>{{ miblog.blog }}</ion-card-title>
        </ion-card-header>
        <ion-card>
          <img [src]="miblog.downloadUrl" alt="Imagen del perfil" />
          <ion-card-header>
            <ion-card-subtitle>{{ miblog.nombreblog }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Latitud:</ion-label>
              <ion-label>{{ miblog.geolocation.latitude }}</ion-label>
                         <ion-label>Longitud:</ion-label>
              <ion-label>{{ miblog.geolocation.longitude }}</ion-label>
            </ion-item>
            <div style="display: flex; justify-content: center; gap: 10px;">
              <ion-button color="tertiary" (click)="openGoogleMaps(miblog.geolocation.latitude, miblog.geolocation.longitude)">
                Abrir ubicación
              </ion-button>
              <ion-button color="danger" (click)="eliminarmiblog(miblog.id)">
                <ion-icon name="trash"></ion-icon>
                Eliminar
              </ion-button>
              <ion-button color="tertiary" (click)="editarmiblog(miblog.id)">
                <ion-icon name="create-outline" slot="start"></ion-icon>
                Editar
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ng-container>

    <ng-template #noContactsFound>
      <ion-slide>
        <ion-card>
          <ion-card-content>
            <p>¡Postea algo!, agrega algo nuevo,lo que te guste!.</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ng-template>
  </ion-slides>
</ion-content>