<ion-header>
  <ion-toolbar>
    <ion-title>
      Restablecer Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <section class="center-login">
    <form (ngSubmit)="onResetPassword()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
      </ion-item>
      <ion-button color="tertiary" expand="block" type="submit" class="button-reset">Restablecer Contraseña</ion-button>
    </form>
  </section>
</ion-content>